<!DOCTYPE html>
<html lang="en">
    <%- include('partials/_head') %>
<body>
    <%- include('partials/_header') %>
    <main>
        <p><%= body %></p>
    </main>
    <%- include('partials/_footer') %>
</body>
</html>